h1 {
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 2em;
}

h2 {
    vertical-align: middle;
    letter-spacing: 2px;
}

h3 {
    vertical-align: middle;
    letter-spacing: 2px;
}

body {
    margin: 8% 25%;
    text-align: left;
    vertical-align: middle;
    font-family: 'PT Sans', serif;
    line-height: 200%;
}

.menu {
    margin-top: 2em;
}

.menu nav {
    text-align: center;
    vertical-align: middle;
    font-family: 'PT Sans', serif;
    font-size: 1.2em;
}

.menu a + a {
    margin-left: 1.1em;
}

#big_name {
    font-size: 54px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: #6F95B0;
}

a:visited {
    color: #6F95B0;
}

a:hover {
    text-decoration: underline;
    color: #6F95B0;
}

a:active {
    text-decoration: underline;
}

img {
    width: 100%;
}
