h1 {
    vertical-align: middle;
    letter-spacing: 2px;
}

h2 {
    vertical-align: middle;
    letter-spacing: 2px;
}

h3 {
    vertical-align: middle;
    letter-spacing: 2px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin:15vh 0 8vh 0;
    padding: 0 25% 0 25%;
    text-align: left;
    vertical-align: middle;
    font-family: 'PT Sans', serif;
    line-height: 200%;
    width: 50%;
    height: 100%;
    min-height: 100%;
}

.menu {
    margin-top: 2vh;
    margin-bottom: -3vh;
}

.menu nav {
    text-align: center;
    vertical-align: middle;
    font-family: 'PT Sans', serif;
    font-size: 1.2em;
}

.menu a + a {
    margin-left: 1.1em;
}

#big_name {
    font-size: 54px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: #6F95B0;
}

a:visited {
    color: #6F95B0;
}

a:hover {
    text-decoration: underline;
    color: #6F95B0;
}

a:active {
    text-decoration: underline;
}

img {
    width: 100%;
}

footer {
    position: absolute;
    height: 9vh;
    text-align: center;
    line-height: 50%;
    clear: both;
    bottom: 0;
    width: 50%;
    margin: auto;
}

.social {
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.social span {
    margin-right: 5%;
    margin-left: 5%;
}

.logo {
    width: 4%;
    height: 4%;
}

@media screen and (max-width: 1020px) {
    
    .logo {
        width: 10%;
        height: 10%;
    }
    
    body {
        padding: 0% 5% 0% 5%;
        margin-top: 10vh;
        margin-bottom: 5vh;
        width: 90%;     
    }
    footer {
        width: 90%;
        height: 6vh;
    }
}
