
<h1>About</h1>
<p>Isaac Layton is an aspiring data scientist. He graduated from California Polytechnic State University in 2016 with a degree in statistics and currently does supply chain analytics at a local camera support company. His interests include machine learning, data visualization, and natural language processing. He is currently seeking employment and would love to get in contact with you!</p>
<p>This website will be used to display projects that Isaac works on. It was built using Django.</p>