
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="About">About<a class="anchor-link" href="#About">&#182;</a></h1>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Isaac Layton is an aspiring data scientist located in San Luis Obispo, California. He graduated from California Polytechnic State University in 2016 with a degree in statistics and currently does supply chain analytics at a local camera support company. His interests include machine learning, data visualization, and natural language processing.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>This website will be used to display projects that Isaac works on. It was built using Django.</p>

</div>
</div>
</div>