[submodule "external_packages/MathJax-docs"]
	path = external_packages/MathJax-docs
	url = https://github.com/mathjax/MathJax-docs.git
[submodule "external_packages/django-grappelli"]
	path = external_packages/django-grappelli
	url = https://github.com/sehmaschine/django-grappelli.git
