{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'layouts/base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <h1> Isaac Layton </h1>
    
    <div class='menu'> 
    <div class='HorizLinks'>
    <ul>
        <li><a href="{% url 'home:index' %}">About</a></li>
        <li><a href="{% url 'home:projects' %}">Projects</a></li>
        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
        <li><a href="{% url 'home:index' %}">Resume</a></li>
    </ul>
    </div>
    </div>

    {% block content %}
    {% endblock %}
</body>