
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>2018 is going to be a great year. It's the year I change my name from Isaac Layton to Mr. Husband Isaac Layton. I'm going to be marrying the love of my life in May. I'm going to run a half marathon in April, and I'm going to try to run a triathlon in September. I want to read the whole Bible this year. Along with these ambitions, I have goals for improving myself in data science as well.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Read-at-least-half-of-The-Elements-of-Statistical-Learning">Read at least half of <a href="https://web.stanford.edu/~hastie/ElemStatLearn/">The Elements of Statistical Learning</a><a class="anchor-link" href="#Read-at-least-half-of-The-Elements-of-Statistical-Learning">&#182;</a></h2><p>I love this book, but only managed to get to Chapter 3 before getting sidetracked. I want to get a lot farther this upcoming year. This is a book that I don't mind taking my time through though, because of how jam packed it is with information. If I only get through a few chapters I'll still be satisfied.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Finish-CS224N,-Stanford's-class-on-Natural-Language-Processing">Finish CS224N, Stanford's class on Natural Language Processing<a class="anchor-link" href="#Finish-CS224N,-Stanford's-class-on-Natural-Language-Processing">&#182;</a></h2><p>In May, I started going through this course and really enjoyed learning about NLP in the context of deep learning. I'd like to spend a month or two finishing it.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="One-project-per-month">One project per month<a class="anchor-link" href="#One-project-per-month">&#182;</a></h2><p>For this goal, I'd like to have a diversity of projects that focus on a specific subset of statistics or programming that I'm learning about. It could be about the NLP class, about a topic in Elements of Statistical Learning, or about some dataset I'm interested in learning about.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>I'll try to post in my blog about these projects and what I aim on doing each month.</p>

</div>
</div>
</div>