<p>Hi! Thanks for visiting my website. It's been my main project for the past couple months and I'm really eager to get it started.</p>

<h2>What I want to accomplish</h2>

<p>My website is still a work in progress and will continuously be improving as I learn what works and what doesn't. Ideally this website will be around for awhile, so I have some short term goals and long term goals in mind for it.</p>

<h3>Short Term Goals</h3>

<ul>
    <li>
        <p><strong>Figure out how I want this website to look.</strong> Part of this process is getting reacquainted with HTML and
            CSS. The last time that I was creating websites was in high school. I'm using Django as the framework because of its
            functionality with Python, but I could be switching to a different framework down the road. I want to keep the website
            looking somewhat simple, as I want to spend most of my time on projects.</p>
    </li>
    <li>
        <p><strong>Create small JavaScript learning projects.</strong> I want to make posts/pages that let users interact with
            them. I'll probably start off with small posts that try out different APIs and JavaScript libraries.</p>
    </li>
    <li>
        <p><strong>Publish past projects on my project page.</strong> I have a handful of projects, including my senior project,
            that I want to put up. Some of them are only partially complete though, so the first step in this goal will be
            finishing up any loose ends.</p>
    </li>
</ul>
<h3>Long Term Goals</h3>

<ul>
    <li>
        <p><strong>Keep up with data science.</strong> This is the main purpose of this blog. One of my dreams is to pursue a
            career in machine learning/data science. Because of having a full-time job, I've been on and off with my data science
            learning. And as with any skill, practice is essential. I plan on completing projects related to what I'm learning at
            the time. Some topics that I plan on learning more about are NLP (natural language processing), data visualization,
            neural networks, evolutionary algorithms, generative adversarial networks, and reinforcement learning.</p>
    </li>
    <li>
        <p><strong>Get better at web development.</strong> I'm definitely not using Django to its potential, so I plan on learning
            more of its features so that I can make my site quick, efficient, and appealing. Along with Django, I want to learn
            d3.js, React, and jQuery. That list might end up changing throughout the next few months.</p>
    </li>
    <li>
        <p><strong>Archive my work.</strong> I've learned a lot and done a lot of projects in the past 3-4 years. Unfortunately, a
            lot of the work is scattered deep in folders I've long since touched. I'd like to be able to showcase my work to
            others, as well as have a place that I can go to where I can look back at my past work. It'd be especially neat if
            someone was able to leave my site having learned something new.</p>
    </li>
</ul>